<footer>

<div class="flex flex-col w-full h-fit bg-[#131414] text-[#e5e7eb] px-14 py-14">
    <div class="flex flex-row">
        <div class="flex flex-col gap-2 justify-center w-[35%]">
            <div class="flex items-center w-full gap-4">
               
                <div class="text-5xl  ">Armando</div>
            </div>

            </div>
        </div>
        <div class="flex flex-row w-[65%] justify-end gap-16 text-nowrap">
            <div class="grid grid-cols-3 gap-24">
                <div class="flex flex-col gap-2">
                    <div class="font-bold uppercase text-[#703da0] pb-3">Inicio</div> <a href="#xxx" class="hover:underline">Acerca de Mi</a>  <a href="#xxx" class="hover:underline">Proyectos</a>  

                </div>
                <div class="flex flex-col gap-2">
                    <div class="font-bold uppercase text-[#713185] pb-3">Comany</div> <a href="#xxx" class="hover:underline">Contactame</a>  <a href="#xxx" class="hover:underline">Correo</a>  <a href="#xxx" class="hover:underline">Linkedin</a>  

                </div>

</footer>