<header class="flex justify-between items-center py-3 max-w-[1120px] mx-auto w-full">
   
    <div class="w-12 h-12 ">
        <h3>Armando</h3>
    </div>
    
    <nav class="flex flex-row gap-x-10">
         <a href="/Inicio">Inicio</a>
         <a href="/AcercaDeMi">Acerca De Mi</a>
    </nav>
  
    <button class="rounded-lg text-base w-40 h-8 bg-[#7A2F98] text-[#ffffff]">Contáctame</button>
  
  </header>
  